html(lang="en", ng-app="app", layout-fill="")
  include layout/head
  body(layout="column", ng-cloak="")
    include layout/toolbar
    div(layout="row", flex="")
      include layout/sidenav
      include layout/content
    include layout/scripts